*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body{
   background-color: #ebebebf5;
}

header{
   height: 60px;
   width: 100%;
   background-color: aliceblue;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
}
.main-header{
   height: 100%;
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-size: 25px;
   
}
.search-header{
   height: 100%;
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   
}
.icons-header{
   height: 100%;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: gray;
}
.icons-header>span:hover{
   color: black;
   cursor: pointer;
}
.search-header>input{
   padding: 5px;
   border-radius: 10px;
   border-color: transparent;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #d8d8d8;
}
.search-header>span{
   color: rgb(36, 36, 225);
   margin-right: 10px;
}

/*main*/
#main{
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 30px;
}
#body-main{
   display: flex;
   width: 90%;
   border: 1px solid blue;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 10px;
}
section{
   display: flex;
   flex-direction: column;
   width: 70%;
   border: 2px solid blueviolet;
   border-radius: 10px;
}
aside{
   display: flex;
   width: 28%;
   border: 2px solid red;
   border-radius: 10px;
}

/* section started*/

/*part1-section-started*/
.profile{
   display: flex;
   width: 100%;
   height: 500px;
   flex-direction: column;
   background-color: white;
   border-radius: 20px;
}

.baner{
   width: 100%;
   height: 45%;
   background-image: url('./imges/baner.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 5px;
   
}
.profile-pic{
   height: 90px;
   width: 90px;
   border-radius: 50%;
   margin-top: -5%;
   margin-left: 10px;
   background-image: url("./imges/profile-pic.jpg");
   background-size: cover;
   border: 2px solid white;
}
.profile-details{
   
   display: flex;
   height: 50%;
   flex-direction: column;
   justify-content: space-around;
   padding: 10px;
}
.profile-buttons{
   display: flex;
  align-items: center;
   height: 35px;

}
.profile-buttons>button{
   height: 28px;
   border-radius: 50px;
   padding: 5px;
   margin-right: 10px;
   background-color: white;
   color: rgb(31, 31, 187);
   border: 1px solid black;
   font-size: 15px;
}
.profile-buttons>button:hover{
   background-color: rgb(197, 197, 197);
   cursor: pointer;
   border: 2px solid black;
   color: black;
}

.box-profile{
   height: 80px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   padding: 8px;
   background-color: rgb(197, 194, 194);
   border-radius: 10px;
   
}

/*part1-section-ended*/
/*part2-sction-started*/
.box-loading{
   height: 100px;
   background-color: white;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   border-radius: 20px;
   margin-top: 5%;
   padding: 10px;
}
.box-loading>progress{
background-color: rgb(0, 174, 255);
font-size: larger;
width: 85%;
}
/*part2-sction-ended*/

/*part3-sction-started*/
.dashboard{
   height: 450px;
   background-color: rgb(227, 248, 255);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 20px;
   margin-top: 5%;
   padding: 10px;
}
.dashboard-box-one{
   background-color: white;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   height: 70px;
   align-items: center;
  
}
.child{
   display: flex;
   width: 33.3333%;
   flex-direction: column;
   height: 100%;
   padding: 10px;
   border-right: 1px solid gray; 
}
.dashboard-box-tow{
   background-color: white;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   height: 180px;
   padding: 10px;
}
.child-box-two{
   display: flex;
   height: 33.33%;
   
}
.icon-child{
   display: flex;
   align-items: center;
   flex-grow: 1;
   justify-content: center;
}
.text-child{
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-grow: 8;
   border-bottom: 1px solid rgb(221, 220, 220);
}
/*part3-sction-ended*/

/* section part 4 started*/
.education{
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 20px;
   margin-top: 5%;
   padding: 10px;
}
/* section part 4 endeded*/

/* section endeded*/


/*aside begin*/
/*aside part 1 begin*/
aside{
   display: flex;
   flex-direction: column;
}
.aside-part-one{
   display: flex;
   height: 60px;
   justify-content: space-between;
   align-items: stretch;
   
   flex-direction: column;
   background-color: white;
   padding: 5px;
   border-radius: 5px;
}
/*aside part 1 ended*/

/*aside ended*/

/*Fonts-icon*/
@font-face {
   font-family: 'icomoon';
   src:  url('./fonts/icomoon.eot?b12z9g');
   src:  url('./fonts/icomoon.eot?b12z9g#iefix') format('embedded-opentype'),
     url('./fonts/icomoon.ttf?b12z9g') format('truetype'),
     url('./fonts/icomoon.woff?b12z9g') format('woff'),
     url('./fonts/icomoon.svg?b12z9g#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: block;
 }
 
 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
 
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-home3:before {
   content: "\e902";
 }
 .icon-bell:before {
   content: "\e951";
 }
 .icon-bubbles:before {
   content: "\e96c";
 }
 .icon-users:before {
   content: "\e972";
 }
 .icon-briefcase:before {
   content: "\e9ae";
 }
 .icon-notification:before {
   content: "\ea08";
 }
 .icon-linkedin:before {
   content: "\eac9";
 }
 .icon-pencil:before {
   content: "\e905";
 }
/*Font-icons ended*/


 /*media screens*/
 
 @media only screen and (min-width: 1140px) {
   #body-main{
      width: 70%;
   }
 }
 @media only screen and (max-width: 1024px) {
   .main-header{
      width: 90%;
      
   }
 }
 @media only screen and (max-width: 741px) {
   .main-header{
      width: 100%;
      padding: 10px;
   }
   .icons-header{
      width: 50%;
      font-size: 20px;
   }
 }
 @media only screen and (max-width: 426px) {
   *{
      font-size: small;
   }
   aside{
      display: none;
   }
   section{
      width: 100%;
   }
   
 }
 @media only screen and (max-width: 320px) {
   .search-header>input{
      display: none;
   }
   .icons-header{
      width: 70%;
      font-size: 25px;
   }
   
   .profile-buttons>button{
      font-size: 10px;
   }
 }

