*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #ebebebf5;
}

header{
   height: 60px;
   width: 100%;
   background-color: aliceblue;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
}
.main-header{
   height: 100%;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-size: 25px;
}
.search-header{
   height: 100%;
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   
}
.icons-header{
   height: 100%;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: gray;
}
.icons-header>span:hover{
   color: black;
   cursor: pointer;
}
.search-header>input{
   padding: 5px;
   border-radius: 10px;
   border-color: transparent;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #d8d8d8;
}
.search-header>span{
   color: rgb(36, 36, 225);
   margin-right: 10px;
}

/*main*/
#main{
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 30px;
}
#body-main{
   display: flex;
   width: 70%;
   border: 1px solid blue;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 10px;
}
section{
   display: flex;
   width: 70%;
   border: 2px solid blueviolet;
   border-radius: 10px;
}
aside{
   display: flex;
   width: 28%;
   border: 2px solid red;
   border-radius: 10px;
}

/* section started*/

/*part1-section-started*/
.profile{
   display: flex;
   width: 100%;
   height: 500px;
   flex-direction: column;
   background-color: white;
   border-radius: 20px;
}

.baner{
   width: 100%;
   height: 45%;
   background-image: url('./imges/baner.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 5px;
   
}
.profile-pic{
   height: 90px;
   width: 90px;
   border-radius: 50%;
   margin-top: -5%;
   margin-left: 10px;
   background-image: url("./imges/profile-pic.jpg");
   background-size: cover;
   border: 2px solid white;
}
.profile-details{
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   height: 50%;
   flex-direction: column;
   justify-content: space-around;
   padding: 10px;
}
.profile-buttons{
   display: flex;
   height: 30px;

}
.profile-buttons>button{
   border-radius: 50px;
   padding: 5px;
   margin-right: 10px;
   background-color: white;
   color: rgb(31, 31, 187);
   border: 1px solid black;
}
.profile-buttons>button:hover{
   background-color: rgb(197, 197, 197);
   cursor: pointer;
   border: 2px solid black;
}

.box-profile{
   height: 80px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   padding: 8px;
   width: 220px;
   background-color: rgb(197, 194, 194);
   border-radius: 10px;
   
}

/*part1-section-ended*/






/*Fonts-icon*/
@font-face {
   font-family: 'icomoon';
   src:  url('./fonts/icomoon.eot?b12z9g');
   src:  url('./fonts/icomoon.eot?b12z9g#iefix') format('embedded-opentype'),
     url('./fonts/icomoon.ttf?b12z9g') format('truetype'),
     url('./fonts/icomoon.woff?b12z9g') format('woff'),
     url('./fonts/icomoon.svg?b12z9g#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: block;
 }
 
 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
 
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-home3:before {
   content: "\e902";
 }
 .icon-bell:before {
   content: "\e951";
 }
 .icon-bubbles:before {
   content: "\e96c";
 }
 .icon-users:before {
   content: "\e972";
 }
 .icon-briefcase:before {
   content: "\e9ae";
 }
 .icon-notification:before {
   content: "\ea08";
 }
 .icon-linkedin:before {
   content: "\eac9";
 }
 .icon-pencil:before {
   content: "\e905";
 }
/*Font-icons ended*/


 /*media screens*/
 @media only screen and (max-width: 1142px) {
   .main-header{
      width: 70%;
   }
   .icons-header{
      width: 50%;
   }
 }
 @media only screen and (min-width: 1140px) {
   #body-main{
      width: 50%;
   }
 }
 @media only screen and (max-width: 741px) {
   .main-header{
      width: 100%;
      padding: 10px;
   }
   .icons-header{
      width: 50%;
      font-size: 20px;
   }
 }
 @media only screen and (max-width: 320px) {
   .search-header>input{
      display: none;
   }
   .icons-header{
      width: 70%;
      font-size: 25px;
   }
 }